.form {
  padding: 10px;
}

.input {
  border: 0;
  font-size: 17px;
  height: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 3px;
  &::placeholder {
    color: #bf4f74;
  }
}
.button {
  font-size: 13px;

  padding: 5px 10px;
  border: 2px solid #bf4f74;
  border-radius: 3px;
  color: #bf4f74;
  margin-right: 5px;

  &:hover {
    cursor: pointer;
  }
}
